* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: 360px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "display display display display"
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
    border: 5px solid black;
}

.App>* {
    border: 1px solid black;
    padding: 20px 30px;
    font-weight: bold;
    text-align: center;
}

.App>*:not(:first-child) {
    cursor: pointer;
    color: whitesmoke;
    background-color: #9b9797;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App>*:not(:first-child):hover {
    border: 1px solid white;
}

#add,
#subtract,
#multiply,
#divide {
    background-color: #575555d2;
}

#display {
    grid-area: display;
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: right;
    padding: 20px 10px;
    border: 2px solid white;
    margin: .1px;
}

#clear {
    grid-area: clear;
    background-color: tomato;
}

#zero {
    grid-area: zero;

}

#equals {
    grid-area: equals;
    background-color: #f7931d;
}